body {
  padding: 40px;
}

.card {
  width: 510px;
  height: 225px;
  padding: 15px auto;
  margin: 0px 20px 0px 20px;
  display: center;
}

.form-control {
  height: 38px;
  width: 270px;
  border-color: gray;
}

.search-button {
  position: relative;
  left: 275px;
  top: -38px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}
.current-button {
  position: relative;
  right: -280px;
  top: -38px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  background-color: #218838;
}
