body {
  padding: 40px;
}

img {
  border-width: 10px;
  border-width: 10px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
}

.card {
  width: 570px;
  height: 430px;
  padding: 15px auto;
  margin: 0px 20px 0px 20px;
  display: center;
  background-color: #343344;
  border-width: 10px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
}

.form-control {
  height: 38px;
  width: 300px;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  background-color: #343344;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
}

.search-button {
  position: relative;
  left: 300px;
  top: -38px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}
.current-button {
  position: relative;
  right: -305px;
  top: -38px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}

h1,
li,
b,
span {
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
