body {
  padding: 40px;
}

img {
  border-width: 10px;
  border-width: 10px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
}

.container {
  display: block;
  position: relative;
  left: -45px;
}

.card {
  width: 570px;
  height: 430px;
  padding: 15px auto;
  margin: 0px 20px 0px 20px;
  display: center;
  background-color: #343344;
  border-width: 10px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
}

h1,
li,
b,
span {
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
