.Days {
  font-size: 14px;
  position: relative;
  top: -125px;
  left: -45px;
  text-align: center;
}

.forecast-img {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}
