.btn {
  background-color: #343344;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
  border-radius: 0%;
}

.SearchBtn {
  position: relative;
  left: 200px;
  top: -575px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  border-width: 2.5px;
}
