.SearchBtn {
  background-color: #343344;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
  border-radius: 0%;
  border-width: 2.5px;
  position: relative;
  top: -30px;
  right: -210px;
}

.Search-button {
  position: relative;
  top: -17px;
  right: -103px;
}
