body {
  font-family: sans-serif;
  background-image: url("./images/sunset.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

li {
  list-style-type: none;
}

h1,
li,
b,
span {
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.Weather .searchEngine {
  height: 40px;
  width: 300px;
  border-width: 2px;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weather-img {
  position: relative;
  border: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  bottom: 125px;
  right: -300px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.CityInfo {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: -5px;
  color: grey;
}

.DateInfo {
  position: relative;
  font-weight: bold;
  top: -15px;
  left: -40px;
}

.DescriptionInfo {
  position: relative;
  font-weight: bold;
  top: -20px;
  left: -40px;
}

.Temp,
.Fahrenheit,
.Celsius,
.Divider {
  position: relative;
}

.Temp {
  font-weight: 900px;
  font-size: 64px;
  top: -50px;
  left: -75px;
}

.Fahrenheit,
.Celsius,
.Divider {
  font-size: 24px;
  top: -75px;
  left: -70px;
}

.OtherInfo {
  position: relative;
  top: -120px;
  right: -232px;
  font-weight: bold;
}

.Address {
  position: relative;
  font-weight: bold;
  top: 350px;
  left: -30px;
}

.btn {
  background-color: #343344;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
  border-radius: 0%;
}

.SearchBtn,
.CurrentBtn {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  border-width: 2.5px;
}

.SearchBtn {
  left: 200px;
  top: -575px;
}

.CurrentBtn {
  right: -410px;
  top: -575px;
}
