body {
  font-family: sans-serif;
  background-image: url("./images/sunset.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

img {
  border-radius: 50%;
  max-width: 100px;
}

li {
  list-style-type: none;
}

img {
  max-width: 60px;
}

.WeatherImg,
.WeatherForecastImg {
  position: relative;
}

.WeatherImg {
  top: -190px;
  right: -38px;
}

.WeatherForecastImg {
  top: -90px;
  right: -250px;
}

.Forecast-description,
.Forecast-days,
.Search-bar,
.SearchEngine,
.Form-control {
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.Forecast-days,
.Forecast-description,
.WeatherIcon {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Forecast-description {
  font-size: 12px;
}

.Search-bar,
.SearchEngine,
.Form-control {
  height: 40px;
  width: 300px;
  position: relative;
  left: 7px;
  top: -7px;
  border-width: 2px;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.DateInfo,
.DescriptionInfo,
.OtherInfo {
  font-size: 18px;
}

.CityInfo {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 0px;
  right: -15px;
}

.DateInfo {
  position: relative;
  font-weight: bold;
  top: -10px;
  left: -25px;
}

.DescriptionInfo {
  position: relative;
  font-weight: bold;
  top: -10px;
  left: -25px;
}

.OtherInfo {
  position: relative;
  top: -203px;
  right: -325px;
}

.WeatherTemp,
.Fahrenheit,
.Celsius,
.Divider {
  position: relative;
}

.WeatherTemp {
  font-weight: 900px;
  font-size: 45px;
  top: -95px;
  left: 235px;
}

.Address {
  position: relative;
  font-weight: bold;
  top: -130px;
  left: -30px;
}

.btn {
  background-color: #343344;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
}

.Forecast-temperatures {
  position: relative;
  font-weight: 16px;
  top: -150px;
  right: -35px;
}

.Forecast-weather,
.Forecast-description,
.Forecast-days {
  position: relative;
}

.Forecast-days {
  top: -90px;
  right: -35px;
}

.Forecast-description {
  position: relative;
  top: -150px;
  right: -35px;
}
