body {
  font-family: sans-serif;
  background-image: url("./images/sunset.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

li {
  list-style-type: none;
}

h1,
li,
b,
span,
.Forecast-description,
.Forecast-days,
.Search-bar,
.SearchEngine,
.Form-control {
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.Forecast-days,
.Forecast-description,
.weather-icons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Forecast-description {
  font-size: 12px;
}

.Search-bar,
.SearchEngine,
.Form-control {
  height: 40px;
  width: 300px;
  position: relative;
  left: 7px;
  top: -7px;
  border-width: 2px;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
  background: -webkit-linear-gradient(rgb(240, 1, 168), rgb(252, 82, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weather-img {
  position: relative;
  bottom: 90px;
  right: -220px;
}

.DateInfo,
.DescriptionInfo,
.OtherInfo {
  font-size: 18px;
}

.CityInfo {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 50px;
  right: -15px;
}

.DateInfo {
  position: relative;
  font-weight: bold;
  top: 40px;
  left: -25px;
}

.DescriptionInfo {
  position: relative;
  font-weight: bold;
  top: 40px;
  left: -25px;
}

.OtherInfo {
  position: relative;
  top: -203px;
  right: -325px;
}

.WeatherTemp,
.Fahrenheit,
.Celsius,
.Divider {
  position: relative;
}

.WeatherTemp {
  font-weight: 900px;
  font-size: 45px;
  top: -100px;
  left: 220px;
}

.Address {
  position: relative;
  font-weight: bold;
  top: -160px;
  left: -30px;
}

.btn,
.ReactAnimatedWeather {
  background-color: #343344;
  border-image: linear-gradient(to right, rgb(240, 1, 168), rgb(252, 82, 4)) 1;
}

.Forecast-temperatures {
  position: relative;
  font-weight: 16px;
  top: -150px;
  right: -35px;
}

.Forecast-weather,
.weather-icon,
.Forecast-description,
.Forecast-days {
  position: relative;
}

.weather-icon {
  top: -180px;
  right: -35px;
  padding-left: 14px;
  padding-right: 14px;
}

.Forecast-days {
  top: -110px;
  right: -35px;
}

.Forecast-description {
  position: relative;
  top: -150px;
  right: -35px;
}
